.banner .banner_logo button{
    border-radius: 100px;
  
    width: 174px;
    height: 40px;
    box-shadow: 0 2px 20px 0 rgba(185, 213, 217, 0.6);
    border-radius: 100px;
    
    width: 234px;
    height: 40px;
    background: var(--white);
    font-family: var(--second-family);
font-weight: 500;
font-size: 18px;
letter-spacing: -0.05em;
text-transform: uppercase;
color: var(--black);
border: none;


}

.banner{
    position: relative;
}

.banner .rasmm .raasm{
    position: absolute;
     z-index: -99;
    top: -120px;

    right: 0px;
   width: 100%;
   
 
}

.banner_logo h2 {
    font-family: var(--third-family);
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: var(--white);

}

.banner_logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 78px;
}


.b__wrapper {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;
}

.b__content {
    border-radius: 100%;
fill: #fff;
background-color: #fff;
box-shadow: 0 2px 50px 0 rgba(185, 213, 217, 0.6);
width: 150px;
height: 150px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 14px;

}

.b__card h6 {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
text-align: center;
margin-bottom: 167px;
color: var(--white);

}
    

.b__card {
    position: relative;
}
 .b__card .strelka{
    position: absolute;
    top: 50px;
    left: 170px;
    
 }
 .strelka1{
    position: absolute;
    top: 50px;
    left: 170px;
    display: none;
 }

.strellka{
    max-width: 204px;
   


}@media(max-width:1120px){
    .b__card .strelka{
        display: none;
    }
    .strelka1{
        display: flex;
    }
    .strellka{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .b__card{
        gap: 50px;
        display: block;
    }
 }