.footer {
    padding: 17px 0 20px;
    background: #2a8088;
    
}

.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer_wrapper .ul .li li {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
}
.footer_wrapper .ul  .li{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer_wrapper .footer_end h3,
.footer .footer_wrapper .footer_end h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}