.zoos .img h6{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
   padding-bottom: 22px
}
.zoos .img{
    width: 357px;
    height: 388px;
    padding-top: 120px;
  
    margin: 0 auto;
}